<div ng-controller="TaskController as ctrl">

    <div class="panel panel-primary panel-transparent login-panel text-center center">
        <div class="panel-heading">
            <h3>New Task</h3>
        </div>
        <div class="panel-body">
            <form class="form-group">
                <p>&nbsp;</p>
                <div class="col-md-6 center">

                    <div class="form-group has-success center row">
                        <label for="beo" class="col-md-3 left">BEO: </label>
                        <select ng-model='task.beo' id="beo" ng-options='beo.get("title") for beo in beos' class="col-md-9"></select>
                    </div>

                    <div class="form-group has-success center row">
                        <label for="employee" class="col-md-3 left">Employee: </label>
                        <select ng-model='task.employee' id="employee" ng-options='employee.get("username") for employee in employees' class="col-md-9"></select>
                    </div>

                    <div class="form-group has-success center row">
                        <div class="col-md-3">
                            <label for="due">Due:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="datetime-local" id="due" class="form-control floating-label col-md-9"
                                   ng-model="task.due" placeholder="">
                        </div>
                    </div>

                    <div class="form-group has-success center">
                        <input type="text" id="desc" class="form-control floating-label"  ng-model="task.desc" placeholder="Description" >
                    </div>

                    <div class="form-group has-success center">
                        <input type="text" id="timePeriod" class="form-control floating-label"  ng-model="beo.timePeriod" placeholder="Time Period - Ex: 6-8am">
                    </div>

                    <!--<pre>menu = {{beo | json}}</pre>-->

                    <button type="submit" ng-click="submit()" class="btn btn-warning btn-raised"> Create Task</button>
                </div>
            </form>
        </div>
        <p class="text-warning"> {{ message }} </p>
    </div>

</div>